.mycontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: rgb(237, 239, 241);
    padding-bottom: 30px;
    width: 600px;
    margin-bottom: 20px;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: purple;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: purple;
    border-radius: 9px;

}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    margin: auto;
    align-items: center;
   width: 480px;
    height:60px;
    background: rgb(252, 246, 246);
border-radius: 6px;

}
.error {
  color: red;
  font-size: 16px;
   margin: 0 auto;
}
.input input{
    height: 40px;
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(12, 12, 12);
    font-size: 19px;
padding-left: 10px;

}
.forgotpassword{
    padding-left: 62px;
    margin-top: 17px;
    color: rgb(18, 18, 18);
    font-size: 18px;

}
.forgotpassword span{
    color: purple;
    cursor: pointer;

}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: purple;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}

